@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem 10rem;
}

.container:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: blur(5rem);
}

.contact-box {
  max-width: 85rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 1.9rem 0.5rem rgba(0, 0, 0, 0.19);
}

.left {
  height: 100%;
  background: url("../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  padding: 2.5rem 4rem;
}

h2 {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 0.4rem;
  width: 5rem;
  border-radius: 0.2rem;
  background-color: #2ecc71;
}

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 0.2rem solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.5rem;
  margin-bottom: 2.2rem;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  background-color: #fff;
  border: 0.2rem solid rgba(30, 85, 250, 0.47);
}

.area {
  min-height: 15rem;
}

.btn {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #2ecc71;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  transition: 3s;
}

.btn:hover {
  background-color: #27ae60;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }

  .left {
    height: 20rem;
  }
}

@media screen and (max-width: 550px) {
  .right {
    padding: 2.5rem 2rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 2rem 4rem;
  }

  .contact-box {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding: 2rem;
  }
}
